# API URL
NODE_ENV=
NEXT_PUBLIC_API_BASE_URL=

# Application settings
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_VERSION=

# Optional: Enable/disable features
NEXT_PUBLIC_ENABLE_PWA=

# Kredensial Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=