# Server Configuration
PORT=
FRONTEND_URL=

# Database Configuration
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT Configuration
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# Cookie Domain (untuk production)
COOKIE_DOMAIN=

# Environment
NODE_ENV=

# Kredensial Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=